{{!-- {{page-title "Index"}}

<div id="body"><br>
    <LinkTo style="color:white; text-decoration: none" @route="add-student">Add student</LinkTo>
    <center><br>
        <h3 style="color:white">Mark detail</h3><br>
        <div class="container"><br><br><br>
            <table>
                <tr>
                    <th>Reg number</th>
                    <th>Tamil</th>
                    <th>English</th>
                    <th>Maths</th>
                    <th>Science</th>
                    <th>Social</th>
                    <th>Total</th>
                    <th>Percentage</th>
                    <td><button type="button" {{action 'addRow'}}><i class="fa fa-plus"></i></button></td>
                </tr>

                    {{#each this.model as |json|}}
                        <tr id={{json.reg_number}}>
                            <th><center><span type="number" id="regNumber">{{json.reg_number}}</span></center></th>
                            <th><center><input type="number" id="tamil" value={{json.tamil}} min="0" max="100" disabled></center></th>
                            <th><center><input type="number" id="english" value={{json.english}} min="0" max="100" disabled></center></th>
                            <th><center><input type="number" id="maths" value={{json.maths}} min="0" max="100" disabled></center></th>
                            <th><center><input type="number" id="science" value={{json.science}} min="0" max="100" disabled></center></th>
                            <th><center><input type="number" id="social" value={{json.social}} min="0" max="100" disabled></center></th>
                            <th><center><span type="number" id="total" >{{json.total}}</span></center></th>
                            <th><center><span type="number" id="percentage" >{{json.percentage}}</span></center></th>
                            <td><button type="button"><i class="fa fa-trash" {{on 'click' (fn this.deleteRow json.reg_number)}} disabled></i></button></td>
                            <td><button type="button"><i class="fa fa-edit" {{on 'click' (fn this.editRow json.reg_number)}} disabled></i></button></td>
                        </tr>
                    {{/each}}
            </table><br><br>
        </div><br><br>
        {{#if this.edited}}
            <button id="updateRows" type="button" {{action 'updateRows'}}>Update table</button>
        {{/if}}
    </center>
</div> --}}